/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  margin: 0;
  position: relative;
}

a {
  color: unset;
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

li {
  list-style: none;
}

main {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  min-height: 100vh;
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

button, input {
  font-family: "Poppins", sans-serif;
}

.todo-wrap {
  background-color: white;
  min-height: 90vh;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 50%;
  border-radius: 3rem;
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
  z-index: 2;
  backdrop-filter: blur(2rem);
  padding-left: 6rem;
  padding-right: 6rem;
}

.heading {
  margin: 0 auto;
  padding: 4rem 0;
  color: #65dfc9;
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
}

.task-list {
  margin-top: 3rem;
}

.task-item {
  padding: 1.5rem 2rem;
  background-color: white;
  border-radius: 1rem;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.3s ease-in-out;
  animation: task 0.2s ease-in-out;
  border: 5px solid transparent;
  cursor: pointer;
}
.task-item h3 {
  word-wrap: break-word;
  font-weight: bold;
  color: #65dfc9;
}
.task-item .left-box {
  width: 80%;
}
.task-item .right-box {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.task-item .right-box button:last-child {
  margin-left: 0.5rem;
}
.task-item.is-active {
  border: 5px solid #6cdbeb;
}

label {
  display: block;
  margin-bottom: 1rem;
  color: #65dfc9;
  font-size: 1.6rem;
  font-weight: bold;
}

input {
  display: block;
  width: 100%;
  padding: 1.5rem 2rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
  border: none;
  outline: none;
  transition: 0.3s ease-in-out;
}
input:focus {
  box-shadow: 1rem 1rem 5rem #65dfc9;
}

.submit-btn, .submit-update-btn {
  display: block;
  margin: 0 auto;
  width: 40%;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  font-weight: bold;
  background-color: #65dfc9;
  color: white;
}
.submit-btn:hover, .submit-update-btn:hover {
  background-color: #6cdbeb;
  box-shadow: 1rem 1rem 5rem #65dfc9;
}

.delete-btn, .update-btn {
  border: none;
  outline: none;
  padding: 1rem;
  background-color: #65dfc9;
  border-radius: 1rem;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  font-weight: bold;
  color: white;
}
.delete-btn:hover, .update-btn:hover {
  background-color: #6cdbeb;
  box-shadow: 1rem 1rem 5rem #65dfc9;
}

.update-container {
  position: absolute;
  z-index: 50;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s linear;
}
.update-container.is-active {
  opacity: 1;
  visibility: visible;
}

.update-wrap {
  background-color: white;
  min-height: 70vh;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 40%;
  border-radius: 3rem;
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
  backdrop-filter: blur(2rem);
  padding-left: 6rem;
  padding-right: 6rem;
  position: relative;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input-update-text, .input-update-day {
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
}

.close-box {
  position: absolute;
  top: 5rem;
  right: 5rem;
  font-size: 4rem;
  color: #6cdbeb;
  cursor: pointer;
  z-index: 100;
  transition: 0.3s ease-in-out;
  border-radius: 1rem;
}
.close-box:hover {
  color: #65dfc9;
  box-shadow: 1rem 1rem 2rem #65dfc9;
}

.circle1, .circle2 {
  background: white;
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.3));
  height: 30rem;
  width: 30rem;
  position: absolute;
  border-radius: 50%;
}

.circle1 {
  top: 1rem;
  right: 15%;
}

.circle2 {
  height: 20rem;
  width: 20rem;
  bottom: 1rem;
  left: 20%;
}

@media screen and (max-width: 1335px) {
  .update-wrap {
    width: 60%;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .todo-wrap {
    width: 80%;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .circle1 {
    top: 0;
    right: 0;
  }

  .circle2 {
    bottom: 0;
    left: 0;
  }
}
@media screen and (max-width: 1023px) {
  .update-wrap {
    width: 70%;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .todo-wrap {
    width: 90%;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .heading {
    font-size: 3rem;
    padding: 2rem;
  }

  .submit-btn {
    width: 30%;
  }
}
@media screen and (max-width: 767px) {
  main {
    padding: 0;
  }

  .heading {
    font-size: 2.2rem;
  }

  .update-wrap {
    width: 80%;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .task-item {
    display: block;
  }
  .task-item .left-box {
    width: 100%;
    margin-bottom: 0.5rem;
  }
  .task-item .right-box {
    width: 100%;
    justify-content: flex-start;
  }

  button {
    font-size: 1.3rem;
  }

  .close-box {
    top: 1rem;
    right: 1rem;
    font-size: 4rem;
  }
}
@keyframes task {
  0% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(0);
  }
}

/*# sourceMappingURL=style.css.map */
